body{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 30px;
}
.name-highlite{
    color: purple;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
    margin-top: 5px;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.top-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, orange, red );
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
}
.secound-section{
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
.exprience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.left-exprience{
    margin-top: 18px;
    box-shadow: 0px 0px 15px 1px black;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(131, 7, 48), tomato);
    border-image-slice: 1;
}
.right-exprience{
    margin-top: 18px;
    box-shadow: 0px 0px 15px 1px black;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(60, 154, 218), rgb(179, 27, 166));
    border-image-slice: 1;
}
footer p {
    text-align: center;
}