body{
    font-family: 'PT Sans Narrow', sans-serif;
}
h1{
    font-size: 40px;
}
p{
    font-size: 30px;
}
.name-highlite{
    color: purple;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
